<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<div class="container" style="margin-top: 100px">
  <h1 style="text-align: center">Blog Manager</h1>
  <div style="display: flex">
    <a th:href="@{/create}" style="margin-bottom: 20px">
      <button class="btn btn-outline-primary">Create Blog</button>
    </a>
<div style="margin-left: 55%" class="d-flex">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Title</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               id="title" />
      </div>
      <button onclick="searchTitle()" class="btn btn-outline-dark" style="margin-left: 5%;height: 45px">Search</button>
</div>
    <a th:href="@{/}">
      <button class="btn btn-outline-primary" style="margin-left: 20px;height: 45px">reset list</button>
    </a>
  </div>
  <div style="text-align: center">
    <a th:href="@{/category/}" style="margin-bottom: 20px">
      <button class="btn btn-outline-primary">Category Manager</button>
    </a>
  </div>
  <table class="table table-striped" style="border: 1px solid;margin-top: 30px;text-align: center" id="table-blog">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Create time</th>
      <th>Category</th>

    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <button onclick="loadMore()" class="btn btn-outline-dark" style="margin-left: 5%;height: 45px">load more</button>


</div>
</body>
<script>
  $(document).ready(function (){
    $.ajax({
      headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
      },
      url:'http://localhost:8080/api/blog',
      type: 'GET',
      success: function (data){
        console.log(data)
        let table=document.getElementById("table-blog");
        for (let i=0;i<data.length;i++){
          let row =table.insertRow(i+1);
          let id=row.insertCell(0);
          let title=row.insertCell(1);
          let author=row.insertCell(2);
          let createAt=row.insertCell(3);
          let category=row.insertCell(4);
          id.innerText=data[i].id;
          title.innerText=data[i].title;
          author.innerText=data[i].author;
          createAt.innerText=data[i].createAt;
          category.innerText=data[i].category.categoryName;
          if (i==4){
            break;
          }
        }
      },
      error: function (data){

      }

    })
  })
  function searchTitle(){
    let title=document.getElementById("title").value;
    $.ajax({
      headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
      },
      url:'http://localhost:8080/api/blog/search?title=' + encodeURIComponent(title),
      type: 'GET',
      success: function (data){
        console.log(data)
        let table=document.getElementById("table-blog");
        while (table.rows.length > 1) {
          table.deleteRow(1);
        }
        for (let i=0;i<data.length;i++){
          let row =table.insertRow(i+1);
          let id=row.insertCell(0);
          let title=row.insertCell(1);
          let author=row.insertCell(2);
          let createAt=row.insertCell(3);
          let category=row.insertCell(4);
          id.innerText=data[i].id;
          title.innerText=data[i].title;
          author.innerText=data[i].author;
          createAt.innerText=data[i].createAt;
          category.innerText=data[i].category.categoryName;
        }
      },
      error: function (data){

      }

    })
  }
  function loadMore(){
    let table=document.getElementById("table-blog");
    let number;
    number=(table.rows.length-1)/5;
    console.log(number);
    number++;
    $.ajax({
      headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
      },
      url:'http://localhost:8080/api/blog/loadMore?number='+encodeURIComponent(number),
      type: 'GET',
      success: function (data){
        console.log(data)
        let table=document.getElementById("table-blog");
        let j=table.rows.length;
        console.log(j)
        for (let i=0;i<data.length;i++){
          let row =table.insertRow(j);
          let id=row.insertCell(0);
          let title=row.insertCell(1);
          let author=row.insertCell(2);
          let createAt=row.insertCell(3);
          let category=row.insertCell(4);
          id.innerText=data[i].id;
          title.innerText=data[i].title;
          author.innerText=data[i].author;
          createAt.innerText=data[i].createAt;
          category.innerText=data[i].category.categoryName;
          j++;
        }
      },
      error: function (data){

      }

    })
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>